.btn {
  width: 100px;
  height: 40px;
}
.input-div {
  margin-top: 30px;
  /* background-color: beige; */
}
.textbox,
.dil {
  width: 300px;
  height: 40px;
}

/* Bu class KS kodu icerisnde olsuturulmustur. */
.yeni-h1 {
  margin-top: 30px;
  color: red;
  text-align: left;
}
